@font-face {
    font-family: 'microgramma-extended-bold';
    src: url('./assets/fonts/Microgramma D Extended Bold.woff') format('woff');
    src: url('./assets/fonts/Microgramma D Extended Bold.woff2') format('woff2');
}

body {
    margin: 0;
    background: linear-gradient(#f8aba0, #e9beb9);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'microgramma-extended-bold';
    font-weight: normal;
    text-transform: lowercase;
    margin: 0;
}

a {
    font-family: 'microgramma-extended-bold';
    font-weight: normal;
    text-transform: lowercase;
    margin: 0;
    color: #CF223C;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover {
    color: #CF223C;
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
}

#github {
    position: absolute;
    bottom: 0px;
    right: 50px;
}

#github-img {
    width: 50px;
}

#header {
   float: right;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
}

#header-sub-container {
    display: flex;
    flex-direction: column;
    float: right;
    padding: 1%;
}

@media screen and (min-width: 676px) {
    #header-container {
        display: flex;
        flex-direction: row;
    }
    #work-list {
        text-align: right;
    }
}

@media screen and (max-width: 675px) {
    #header-container {
        display: flex;
        flex-direction: column;
    }
    #work-list {
        text-align: left;
    }
}

#work-list {
    display: flex;
    flex-direction: column;
    z-index: 999;
}

#bk-logo {
    width: 10%;
    min-width: 150px;
}
